DataLayer/specialtysubjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="specialtysubjects">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="SpecialtySubject">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SpecialtyId" type="xs:unsignedByte" />
							<xs:element name="SubjectId" type="xs:unsignedByte" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>